body{
    overflow-x:hidden;
    background: url(https://napavalley.wine/img/global/patterns/pattern-blue.jpg) #273243 repeat;
}


.hero{
    margin-top:-8%;
    margin-left:-0.4%;
    width:101%;
    height:100%;
    z-index:1;
    animation: load 3s;
}
@keyframes load{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}
.heroimg{
    position:relative;
    width:100%;
    height:100%;
    object-fit: cover;
    z-index:1;
}
.hero-main{
    position:relative;
    margin-top:-39.5%;
    padding-left:26%;
    z-index:2;
}
.hero-title1{
    font: normal normal 12px/24px "halyard-display", "sans-serif";
    letter-spacing: 2.93px;
    text-transform: uppercase;
    font-weight: 600;
    color:white;
}
.hero-title2{
    font: normal 500 50px/55px "mandrel-normal", "sans-serif";
    font-size: 100px;
    line-height: 110px;
    color:white;
    width:41%;
}

.main1{
    position:relative;
    background: url(https://napavalley.wine/img/global/patterns/pattern-blue.jpg) #273243 repeat;
    width:101%;
    margin-top:19%;
    margin-left:-0.4%;
    z-index:3;
}
.bluesection{
    position:relative;
    margin-left:2%;
    height:1400px;
    background: url(https://napavalley.wine/img/global/patterns/pattern-blue.jpg) #273243 repeat;
    background-size:20%;
    width:96%;
    z-index:4;
}
.bluesectionheader{
    position:relative;
    margin-top:0%;
    padding-top:5%;
    margin-left:28%;
}
.bluesectiontitles{
    font: normal normal 11px/24px "halyard-display", "sans-serif";
    letter-spacing: 2.93px;
    font-weight: 600;
    color: #AC795C;
}
.bluesectiontitle1{
    margin-left:17%;
}
.bluesectiontitle2{
    letter-spacing: 0.61px;
    font: italic normal 40px/60px "plantin", "sans-serif";
    color: #B3A89C;
    width:63%;
    text-align:center;
    margin-top:2%
}
.bluesection-line{
    position:relative;
    width:2px;
    height:1px;
    background-color:white;
    margin-top:5%;
    margin-left:31%;
}
@keyframes spread{
    from { transform: scaleX(0); }
    to { transform: scaleX(30000%); }
}
.bluesectionbody{
    position:relative;
    margin-top:5%;
    margin-left:18%;
    display:grid;
    grid-template-rows:repeat(3,auto);
    gap:2%;
}
.bluesectionrow1{
    display:grid;
    grid-template-columns:repeat(3,auto);
}
.bluesectionrow2{
    display:grid;
    grid-template-columns:repeat(3,auto);
}
.bluesectionrow3{
    display:grid;
    grid-template-columns:repeat(2,auto);
}
.transparentnumber{
    line-height: 111px;
    font: normal 500 110px/55px "mandrel-normal", "sans-serif";
    color:transparent;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #61727D;
    margin-bottom:10%;
}
.bluesectiontext{
    color: #B3A89C;
    font: normal normal 17px/26px "plantin", "sans-serif";
    letter-spacing: 0.53px;
    width:94%;
}
.bluesectiontext1{
    width:115%;
}
.bluesectionitem1{
    height:303px;
    width:337px;
}
.bluesectionitem2{
    height:303px;
    width:337px;
    margin-left:-20%;
}
.bluesectionitem3{
    height:303px;
    width:337px;
    margin-left:-40%;
}
.bluesectionitem4{
    height:303px;
    width:337px;
}
.bluesectionitem5{
    height:303px;
    width:337px;
    margin-left:-20%;
}
.bluesectionitem6{
    height:303px;
    width:337px;
    margin-left:-40%;
}
.bluesectionitem7{
    height:303px;
    width:337px;
    margin-top:-20%;
}
.bluesectionitem8{
    height:303px;
    width:337px;
    margin-top:-20%;
    margin-left:-46.5%;
}
.grapevarietiesimg{
    margin-bottom:5%;
}
.topvarietiesimg{
    margin-bottom:5%;
}

.whitesection{
    position:relative;
    margin-left:2%;
    height:1400px;
    background-color: #f1fafa;
    width:96%;
    z-index:4;
}
.whitesectionheader{
    position:relative;
    margin-top:0%;
    padding-top:5%;
    margin-left:24%;
}
.whitesectiontitles{
    font: normal normal 11px/24px "halyard-display", "sans-serif";
    letter-spacing: 2.93px;
    font-weight: 600;
    color: #AC795C;
}
.whitesectiontitle1{
    margin-left:21%;
}
.whitesectiontitle2{
    letter-spacing: 0.61px;
    font: italic normal 40px/60px "plantin", "sans-serif";
    color: #B3A89C;
    width:69%;
    text-align:center;
    margin-top:2%
}
.whitesection-line{
    position:relative;
    width:2px;
    height:1px;
    background-color:#92A4B0 ;
    margin-top:5%;
    margin-left:34%;
}
@keyframes spread2{
    from { transform: scaleX(0); }
    to { transform: scaleX(33000%); }
}
.whitesectionbody{
    position:relative;
    margin-top:5%;
    margin-left:18%;
    display:grid;
    grid-template-rows:repeat(3,auto);
    gap:2%;
}
.whitesectionrow1{
    display:grid;
    grid-template-columns:repeat(3,auto);
}
.whitesectionrow2{
    display:grid;
    grid-template-columns:repeat(3,auto);
}
.whitesectionrow3{
    display:grid;
    grid-template-columns:repeat(2,auto);
    margin-top: 4%;
}
.whitesectiontext{
    color: #68635F;
    font: normal normal 17px/26px "plantin", "sans-serif";
    letter-spacing: 0.53px;
    width:94%;
}
.whitesectionitem1{
    height:303px;
    width:337px;
}
.whitesectionitem2{
    height:303px;
    width:337px;
    margin-left:-20%;
}
.whitesectionitem3{
    height:303px;
    width:337px;
    margin-left:-40%;
}
.whitesectionitem4{
    height:303px;
    width:337px;
}
.whitesectionitem5{
    height:303px;
    width:337px;
    margin-left:-20%;
}
.whitesectionitem6{
    height:303px;
    width:337px;
    margin-left:-40%;
}
.whitesectionitem7{
    height:303px;
    width:337px;
    margin-top:-20%;
}
.whitesectionitem8{
    height:303px;
    width:337px;
    margin-top:-20%;
    margin-left:-46.5%;
}
.familyownedimg{
    margin-bottom:5%;
}
.protectedlandimg{
    margin-bottom:5%;
}
.mainimg{
    margin-top:-20%;
}
.grapevinesimg{
    width:100%;
}

.articles{
    margin-top:54%;
    position:relative;
    margin-left:1.7%;
    width:96.8%;
    height:841px;
    z-index:4;
}
.articlesimg{
    width:100%;
    height:100%;
}
.articlestitle1{
    margin-top:-42%;
    margin-left:28%;
    width:20%;
    display:grid;
    grid-template-columns:repeat(3,auto);
}
.articlestitle1number{
    color: #B3A89C;
    font: normal 800 19px/19px "mandrel-extended", "sans-serif";
    letter-spacing: 0.66px;
}
.articlestitle1line{
    width:30px;
    height:1px;
    color:white;
}
.articlestitle1text{
    color: #B3A89C;
    font: normal normal 12px/24px "halyard-display", "sans-serif";
    letter-spacing: 2.93px;
    font-weight: 600;
}
.articlesmain{
    margin-left:24%;
    margin-top:12%;
    display:grid;
    grid-template-rows:repeat(auto,3);
    gap:5%;
}
.articlestitle2{
    letter-spacing: 1.76px;
    font: normal 500 110px/55px "mandrel-normal", "sans-serif";
    color: transparent;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #F3F1EF;
    margin-bottom:2%;
}
.articlestext{
    font: normal normal 17px/37px "plantin", "sans-serif";
    letter-spacing: 0.53px;
    text-align: left;
    color: #F3F1EF;
}
.readarticles{
    color: #F3F1EF;
    font: normal normal 12px/24px "halyard-display", "sans-serif";
    letter-spacing: 2.93px;
    font-weight: 600;
    width: 10%;
}
.readarticlesline{
    width:68px;
    height:1px;
    background-color:white;
    text-decoration: none;
    margin-top:-0.6%;
    transition: transform 0.5s;
}
.readarticlesa{
    text-decoration:none;
}
.readarticles:hover .readarticlesline{
    transform:translateX(100%);
}

footer{
    position:relative;
    width:100%;
    margin-top:10%;
    margin-left:20%;
    margin-bottom:5%;
}
.logo{
    width:45px;
}
.footerheadlinetext{
    background-color: transparent;
    font: normal normal 12px/24px "halyard-display", "sans-serif";
    letter-spacing: 2.93px;
    text-transform: uppercase;
    font-weight: 600;
    color: #DBAA8E;
}
.footerform{
    margin-top:3%;
    position:relative;
    width:60%;
    display:grid;
    grid-template-columns: repeat(3,auto);
    gap:5%;
}
.footerforminput1{
    display:grid;
    grid-template-rows: repeat(2,auto);
}
.footerline1{
    position:relative;
    width:100%;
    height:2px;
    background-color:white;
    margin-top:0%;
}
.footerforminput2{
    display:grid;
    grid-template-rows: repeat(2,auto);
    width:1%;
}
.footerline2{
    position:relative;
    width:100%;
    height:2px;
    background-color:white;
    margin-top:0%;
}
.form-submit{
    position: relative;
    display: inline-block;
    font: normal 600 12px/24px "arial";
    letter-spacing: 2.93px;
    text-transform: uppercase;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border-image: linear-gradient(to right, #CEA26C 0%, #9E6736 100%);
    border-image-slice: 1;
    border-width: 2px;
    border-style: solid;
    padding: 18px;
    width: 150%;
    margin-left:-70%;
}
.footerformbtn:hover .form-submit{
    color:#DBAA8E;
}
.input{
    background:url(https://napavalley.wine/img/global/patterns/pattern-blue.jpg);
    border:0;
    height:50px;
    outline:none;
    color:white;
    font-size:30px;
}
::placeholder{
    color:white;
}
.footerlinks{
    margin-top:2%;
    width:40%;
    display:grid;
    grid-template-columns: repeat(5,auto);
    gap:2%;
}
.footerlinks i{
    display: inline-block;
    font-style: normal;
    font-family: FontAwesome;
    color: #AC795C;
    margin-right:2px;
}
.footerlinks i::before{
    content: '\f008';
    display: inline-block;
    font: normal normal normal 14px/1 Nvw;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.firstlink:hover .arrow1{
    animation: leftright 1s infinite;
}
.secondlink:hover .arrow2{
    animation: leftright 1s infinite;
}
.thirdlink:hover .arrow3{
    animation: leftright 1s infinite;
}
.fourthlink:hover .arrow4{
    animation: leftright 1s infinite;
}
.fifthlink:hover .arrow5{
    animation: leftright 1s infinite;
}
@keyframes leftright{
    0%{
        transform:translateX(20%);
    }
    50%{
        transform:translateX(-20%);
    }
    100%{
        transform:translateX(20%);
    }
}
.firstlinka{
    color:#fff;
    text-decoration:none;
    font: normal normal 12px/24px "halyard-display", "sans-serif";
    letter-spacing: 2.93px;
    font-weight: 600;
}
.secondlinka{
    color:#fff;
    text-decoration:none;
    font: normal normal 12px/24px "halyard-display", "sans-serif";
    letter-spacing: 2.93px;
    font-weight: 600;
}
.thirdlinka{
    color:#fff;
    text-decoration:none;
    font: normal normal 12px/24px "halyard-display", "sans-serif";
    letter-spacing: 2.93px;
    font-weight: 600;
}
.fourthlinka{
    color:#fff;
    text-decoration:none;
    font: normal normal 12px/24px "halyard-display", "sans-serif";
    letter-spacing: 2.93px;
    font-weight: 600;
}
.fifthlinka{
    color:#fff;
    text-decoration:none;
    font: normal normal 12px/24px "halyard-display", "sans-serif";
    letter-spacing: 2.93px;
    font-weight: 600;
}
.footerending{
    margin-top:10%;
    width:75%;
    display:grid;
    grid-template-columns: repeat(3,auto);
}
.footerending2{
    display:grid;
    grid-template-rows: repeat(2,auto);
}
.footerending2-2{
    margin-left:3%;
    width:55%;
    display:grid;
    grid-template-columns: repeat(5,auto);
    gap:2%;
}
.footerendingtext{
    text-decoration:none;
    color: #B9B2B2;
}
.footerendingtext1:hover{
    color:#DBAA8E;
}
.footerendingtext2:hover{
    color:#DBAA8E;
}
.footerending3{
    width:30%;
    margin-left:-30%;
    display:grid;
    grid-template-columns: repeat(4,auto);
    gap:25%;
}
.footerending3 a{
    font-size:36px;
    color: #B9B2B2;
}
.footerending3 a:hover{
    color:#DBAA8E;
}

/*RESPONSIVENESS*/
@media only screen and (max-width: 400px) {
    .hero{
        margin-left:-2.1%;
        width:104.2%;
        height:866px;
        z-index:1;
        animation: load 3s;
    }
    .hero-main{
        position:relative;
        margin-top:-130%;
        padding-left:4%;
        z-index:2;
    }
    .hero-title1{
        font: normal normal 12px/24px "halyard-display", "sans-serif";
        letter-spacing: 2.93px;
        text-transform: uppercase;
        font-weight: 600;
        color:white;
        margin-bottom:5%;
    }
    .hero-title2{
        font: normal 500 50px/55px "mandrel-normal", "sans-serif";
        font-size: 55px;
        color:white;
        width:75%;
    }
    .bluesection{
        height:2500px;
    }
    .bluesectionheader{
        position:relative;
        margin-top:0%;
        padding-top:5%;
        margin-left:6%;
    }
    .bluesectiontitle1{
        margin-left:17%;
        width:60%;
        text-align:center;
    }
    .bluesectiontitle2{
        letter-spacing: 0.61px;
        font: italic normal 24px/33px "plantin", "sans-serif";
        color: #B3A89C;
        width:92.2%;
        text-align:center;
        margin-top:8%
    }
    .bluesection-line{
        position:relative;
        width:340px;
        height:1px;
        background-color:white;
        margin-top:15%;
        margin-left:-3%;
    }
    .bluesectionbody{
        margin-top:10%;
        margin-left:10%;
    }
    .transparentnumber{
        font: normal 500 50px/55px "mandrel-normal", "sans-serif";
        margin-bottom:5%;
    }
    .bluesectionrow1{
        display:grid;
        grid-template-columns:none;
        grid-template-rows:repeat(3,auto);
        margin-left:-3%;
    }
    .bluesectionitem2{
        margin-left:0%;
    }
    .bluesectionitem3{
        margin-left:0%;
        margin-top:-20%;
    }
    .bluesectionrow2{
        display:grid;
        grid-template-columns:none;
        grid-template-rows:repeat(3,auto);
        margin-left:-3%;
        margin-top:-30%;
    }
    .bluesectionitem5{
        margin-left:0%;
        margin-top:-35%;
    }
    .bluesectionitem6{
        margin-left:0%;
        margin-top:-40%;
    }
    .bluesectionrow3{
        display:grid;
        grid-template-columns:none;
        grid-template-rows:repeat(3,auto);
        margin-left:-3%;
        margin-top:-20%;
    }
    .bluesectionitem8{
        margin-left:0%;
        margin-top:30%;
        width:80%;
    }

    .whitesection{
        height:2600px;
    }
    .whitesectionheader{
        position:relative;
        margin-top:0%;
        padding-top:5%;
        margin-left:6%;
    }
    .whitesectiontitle1{
        margin-left:8%;
        width:80%;
        text-align:center;
    }
    .whitesectiontitle2{
        letter-spacing: 0.61px;
        font: italic normal 24px/33px "plantin", "sans-serif";
        color: #B3A89C;
        width:92.2%;
        text-align:center;
        margin-top:8%
    }
    .whitesection-line{
        position:relative;
        width:340px;
        height:1px;
        background-color:#92A4B0;
        margin-top:15%;
        margin-left:-3%;
    }
    .whitesectionbody{
        margin-top:10%;
        margin-left:10%;
    }
    .whitesectionrow1{
        display:grid;
        grid-template-columns:none;
        grid-template-rows:repeat(3,auto);
        margin-left:-3%;
    }
    .whitesectionitem2{
        margin-left:0%;
    }
    .whitesectionitem3{
        margin-left:0%;
        margin-top:0%;
    }
    .whitesectionrow2{
        display:grid;
        grid-template-columns:none;
        grid-template-rows:repeat(3,auto);
        margin-left:-3%;
        margin-top:0%;
    }
    .whitesectionitem5{
        margin-left:0%;
        margin-top:-15%;
    }
    .whitesectionitem6{
        margin-left:0%;
        margin-top:-25%;
    }
    .whitesectionrow3{
        display:grid;
        grid-template-columns:none;
        grid-template-rows:repeat(3,auto);
        margin-left:-3%;
        margin-top:-20%;
    }
    .whitesectionitem8{
        margin-left:0%;
        margin-top:10%;
        width:80%;
    }
    .grapevinesimg{
        margin-top:30%;
    }

    .articles{
        margin-top:80%;
        width:104.2%;
        height:500px;
        margin-left:-2.2%;
    }
    .articlestitle1{
        margin-top:-120%;
        margin-left:4%;
        width:90%;
        display:grid;
        grid-template-columns:repeat(3,auto);
        gap:5%;
    }
    .articlestitle1text{
        font: normal normal 11px/24px "halyard-display", "sans-serif";
        letter-spacing: 2.93px;
        font-weight: 600;
    }
    .articlesmain{
        margin-top:65%;
        margin-left:3%;
        display:grid;
        grid-template-rows:repeat(auto,3);
        gap:5%;
    }
    .articlestitle2{
        letter-spacing: 1.76px;
        font: normal 500 50px/55px "mandrel-normal", "sans-serif";
        color: transparent;
        -webkit-text-stroke-width: 1.5px;
        -webkit-text-stroke-color: #F3F1EF;
        margin-bottom:2%;
    }
    .readarticles{
        width: 40%;
    }

    footer{
        margin-top:20%;
        margin-left:5%;
        margin-bottom:5%;
        height:550px;
    }
    .footerform{
        display:grid;
        grid-template-columns: none;
        grid-template-rows: repeat(3,auto);
        gap:8%;
    }
    .footerline1{
        width:90%;
    }
    .footerline2{
        width:90%;
    }
    .form-submit{
        position: relative;
        display: inline-block;
        font: normal 600 12px/24px "arial";
        letter-spacing: 2.93px;
        text-transform: uppercase;
        color: #fff;
        background-color: transparent;
        cursor: pointer;
        border-image: linear-gradient(to right, #CEA26C 0%, #9E6736 100%);
        border-image-slice: 1;
        border-width: 2px;
        border-style: solid;
        padding: 18px;
        width: 90%;
        margin-left:0%;
    }
    .footerlinks{
        display:none;
    }
    .footerending{
        margin-top:40%;
        width:75%;
        display:grid;
        grid-template-columns: none;
        grid-template-rows: repeat(3,auto);
    }
    .footerending2{
        margin-top:10%;
        display:grid;
        grid-template-rows: repeat(2,auto);
        width:110%;
    }
    .footerending2-2{
        margin-left:0%;
        width:110%;
        display:grid;
        grid-template-columns: repeat(5,auto);
        gap:0%;
    }
    .footerending3{
        width:30%;
        margin-left:0%;
        margin-top:-60%;
        display:grid;
        grid-template-columns: repeat(4,auto);
        gap:25%;
    }
    .footerendingtext{
        font-size:13px;
    }
    .footerendingtext2{
        margin-left:-30%;
    }
    .footerendingtext3{
        margin-top:1%;
        margin-left:-40%;
    }
    .footerendingline1{
        margin-left:-50%;
    }
    .footerendingline2{
        margin-left:-160%;
    }
  }